body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#b8acd1, whitesmoke);
}
#box{
    width: 50vw;
    height: 50vh;
    border: 2px solid #333333;
    border-radius: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #333333;
    font-size: xx-large;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #e2d5f1;
    padding: 0px 30px;

}
#generate{
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    background-color: #526d85;
    padding: 10px 40px;
    width: auto;
    border: none;
    border-radius: 30px;
    transition: 0.4s;
}
#generate:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#generate:active{
    transform: scale(0.9);
}
